<!doctype html>
<html lang="en">

<head>
  <title>Eden</title>
  <link rel="icon" type="image/png" href="./IMAGES/cherry-blossom>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="style.css">
  <script src="https://kit.fontawesome.com/4167f19ec8.js" crossorigin="anonymous"></script>

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <!--BEGIN LOGIN MODAL-->
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="loginModalLabel">LogIn</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form>
                <!-- USERNAME -->
                <div class="mb-3">
                  <label for="username" class="form-label">Email</label>
                  <div class="input-group">
                    <span class="input-group-text"><i class="fa-solid fa-envelope"></i></span>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Enter your email" required>
                  </div>
                </div>
  
                <!-- PASSWORD -->
                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <div class="input-group">
                    <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>
                  </div>
                </div>
              </form>
              <div style="text-align: center;"> 
              <button type="submit" class="btn" style="font-family: fantasy; border-color: #ff903d; color: #ff903d;">Login</button>
              </div>
            </div>
            <div style= "text-align: center;" div="modal-footer">
              <p style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">You don't have an account?</p> 
              <a href="#" data-bs-toggle="modal" data-bs-target="#registrationModal" style="color: #fd88b6; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Register here</a>
            </div>
          </div>
        </div>
      </div>
      <!--END LOGIN MODAL-->
      <!--BEGIN REGISTRATION MODAL-->
      <div class="modal fade" id="registrationModal" tabindex="-1" aria-labelledby="registrationModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id = "registrationModalLabel">Register</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="container">
                <div class="row">
                  <div class="col-6">
                    <input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
                  </div>
                  <div class="col-6">
                    <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Last Name" required>
                    <br>
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
              </div>
              <div class="mb-3">
                <input type="password" class="form-control" id="confirmpassword" name="confirmpassword" placeholder="Confirm Password" required>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn" style="font-family: fantasy; border-color: #ff903d; color: #ff903d;">Register</button>
            </div>
          </div>
        </div>
    </div>
    <!--END REGISTRATION MODAL-->

</head>

<body>
  <header>
    <!-- INICIO NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-custom">
        <div class="container-fluid justify-content-between">
            <a class="navbar-brand titleFam" href="P01_index.html"><i class="fa-solid fa-heart" style="color: #e7c6ba;"></i></a>
            <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="P01_index.html" aria-current="page">Home<span
                                class="visually-hidden">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="P01_about_us.html">About us</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Product</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownId">
                            <a class="dropdown-item" href="P01_cat_A.html" style="font-family: fantasy;">Dresses</a>
                            <a class="dropdown-item" href="P01_cat_B.html" style="font-family: fantasy;">Tops</a>
                        </div>
                    </li>

                    <form class="d-flex my-2 my-lg-0">
                        <input class="form-control me-sm-2" type="text" placeholder="Search">
                        <button id="boton-custom" class="btn" type="submit" style="font-family: fantasy; border-color: #e7c6ba; color: #e7c6ba;">Search</button>
                    </form>
                </ul>

                <div class="Contenedor">
                    <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="#" role="button" data-bs-toggle="modal" data-bs-target="#loginModal"><i class="fa-solid fa-user"
                                    style="color: #e7c6ba;"></i> &nbsp;User</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="P01_cart.html"><i class="fa-solid fa-cart-shopping"
                                    style="color: #e7c6ba;"></i></a> 
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="false">Shipping</a>
                          <div class="dropdown-menu" aria-labelledby="dropdownId">
                              <a class="dropdown-item" href="P01_orders.html" style="font-family: fantasy;">Track</a>
                          </div>
                        </li>
                    </ul>
                </div>
            </div>
    </nav>
    <!-- END NAVBAR -->
  </header>
  <main>
    <!-- BEGIN PRODUCT CARD -->
  <div class="container mt-5">
    <div class="row">
      <!-- Columna 1 con muchas media-objects -->
      <div class="col-md-8">
       <!-- OBJECT 1 -->
        <div class="media mb-3 border p-3">
          <img src="./IMAGES/Card_6.jpeg" style="float: right; max-width: 150px; border-radius: 50%;">
          <div class="media-body" style="width: 300px;">
            <h4 class="mt-0 mb-1">Holli Cardigan &nbsp;<i class="fa-solid fa-trash" style="color: #ff903d;"></i></h4><br>
            <div class="input-group mb-3">
              <span class="input-group-text">Amount:</span>
              <input type="number" class="form-control" id="Amount" value="1"> 
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text custom-width">Price:</span>
              <input type="text" class="form-control" value="$700" id="Price" readonly>
              <span class="input-group-text">MXN:</span>
            </div>
          </div>
        </div>
        <!-- OBJECT 2 -->
        <div class="media mb-3 border p-3">
          <img src="./IMAGES/Card_8.jpeg" style="float: right; max-width: 150px; border-radius: 50%;">
          <div class="media-body" style="width: 300px;">
            <h4 class="mt-0 mb-1">Ophelia Dress &nbsp;<i class="fa-solid fa-trash" style="color: #ff903d;"></i></h4><br>
            <div class="input-group mb-3">
              <span class="input-group-text">Amount:</span>
              <input type="number" class="form-control" id="Amount" value="1"> 
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text custom-width">Price:</span>
              <input type="text" class="form-control" value="$800" id="Price" readonly>
              <span class="input-group-text">MXN:</span>
            </div>
          </div>
        </div>
        <!-- Agrega más Media-Objects según sea necesario -->
      </div>

      <!-- Columna 2 con una media-object -->
      <div class="col-md-4">
        <div class="media mb-3 border p-3">
          <div class="media-body">
            <h3 class="mt-0">Total</h3>
            <b>Holli Cardigan:</b>  2 x $700.00 MXN
            <br>
            <b>Ophelia Dress:</b>  3 x $800.00 MXN
            <br>
            <b>International Shipping:</b> $600.00 MXN
            <br><br>
            <h5>Total: $4,400 MXN</h3>
            <button type="button" class="btn btn-primary" style="background-color: white; border-color: #ff903d; color: #ff903d; font-family: fantasy;">Pagar</button>
            <button type="button" class="btn btn-primary" style="background-color: white; border-color: #ff903d; color: #ff903d; font-family: fantasy;">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END PRODUCT CARD -->
  </main>
  <footer>
    <!-- place footer here -->
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>
</html>