<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/e94786ac74.js" crossorigin="anonymous"></script>

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

        
    <!-- Modal Ingreso-->
    <div class="modal fade" id="userModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Iniciar Sesión</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <label class="col-form-label" type="email" for="useremail">Correo:</label>
                        <div class="input-group mb-3">
                            <input type="email" class="form-control" id="useremail"> 
                            <span class="input-group-text"><i class="fa-solid fa-user icon-color"></i></span>
                        </div>
                        <label class="col-form-label" type="text" for = "user-password">Contraseña:</label>
                        
                        <div class="input-group mb-3">
                            <input type="password" class="form-control" id="user-password"> 
                            <span class="input-group-text"><i class="fa-solid fa-key icon-color"></i></span>
                        </div>
                    </form>
                    <div class="boton" style="text-align: center;">
                        <button id = "boton-custom" type="submit" class="btn btn-primary">Login</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class = container>
                        <div style="text-align: center;">
                            <label>¿No tienes cuenta?</label>
                            <label data-bs-toggle="modal" data-bs-target="#registerModal" style="cursor: pointer; color: blue;">Registrate aqui</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Carrito-->
    <div class="modal fade" id="cartModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Escoge la cantidad a agregar:</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="input-group mb-3">
                            <input type="number" min = "0" step = "1" class="form-control" id="cantidad"> 
                        </div>
                    </form>
                    <button  type="submit" id="agregarBtn" class="btn btn-success" data-bs-dismiss="modal">Agregar</button>
                    <button  type="submit" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Registro-->
    <div class="modal fade" id="registerModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Registrarse</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class = "row">
                        <div class = "col-6">
                            <input type="text" class="form-control" id="usernombre" value="Nombre(s)"> 
                        </div>
                        <div class = "col-6">
                            <input type="text" class="form-control" id="userapellido" value="Apellidos"> 
                        </div> 
                    </div><br>
                    <input type="text" class="form-control" id="usercorreo" value="Correo"> <br>
                    <input type="text" class="form-control" id="usercontraseña" value="Contraseña"> <br>
                    <input type="text" class="form-control" id="usercontraseña" value="Confirmar contraseña"> <br>
                </div>
                <div class="modal-footer">
                    <button id = "boton-custom" type="submit" class="btn btn-primary">Registrarse</button>
                </div>
            </div>
        </div>
    </div>
    </head>
 

<body>
  <header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-custom">
        <div class="container-fluid jusfify-content-between">
            <a class="navbar-brand" href="P01_index.html">
                <i class="fa-solid fa-seedling icon-color"></i>
            </a>
            <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="P01_index.html" aria-current="page">Inicio <span class="visually-hidden">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="P01_about_us.html">Sobre nosotros</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Productos</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownId">
                            <a class="dropdown-item" href="P01_cat_A.html">Categoria A</a>
                            <a class="dropdown-item" href="P01_cat_B.html">Categoria B</a>
                        </div>
                    </li>
                    <form class="d-flex my-2 my-lg-0">
                        <input class="form-control me-sm-2" type="text" placeholder="Search">
                        <button id = "boton-custom" class="btn" type="submit">Search</button>
                    </form>
                </ul>
                <div class = "Contenedor">
                    <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="#"  data-bs-toggle="modal" data-bs-target="#userModal" role = "button"><i class="fa-solid fa-user icon-color" ></i> &nbsp;  Ingresar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="P01_cart.html"><i class="fa-solid fa-cart-shopping icon-color"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="P01_orders.html" role = "button"> Pedidos</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
      </nav>
  </header>

  
  <main>
    <!-- Carousel -->
    <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
        </div>
        <div class="carousel-inner"> 
            <div class="carousel-item active ">
                <img  src="IMAGES/fondo1.png" alt="Fondo1" class="d-block">
            </div>
            <div class="carousel-item ">
                <img  src="IMAGES/fondo2.png" alt="Fondo2" class="d-block">
            </div>
            <div class="carousel-item ">
                <img src="IMAGES/fondo3.jpeg" alt="Fondo3" class="d-block-right">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- Cards -->
    <div class = "container"> 
        <div class = "row">
            <div id = 'tarjetas'> </div>
        </div>
        
    </div>
  </main>

  <footer>
    <!-- Pagination -->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="color page-link" href="#" tabindex="-1" >«</a>
            </li>
            <li class="page-item"><a class="page-link" onclick = 'showProducts(1)'>1</a></li>
            <li class="page-item"><a class="page-link" onclick = 'showProducts(2)'>2</a></li>
            <li cclass="page-item"><a class="page-link" onclick = 'showProducts(3)'>3</a></li>
            <li cclass="page-item">
                <a class="page-link" href="#">»</a>
            </li>
        </ul>
    </nav>
  </footer>

  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
  <script src = '/app/controllers/index.js'></script>
</body>

</html>