.navbar-custom {
    background-color: #c5d8c5;
}

#boton-custom{
    border-color: #6a7718;
    background-color: #c5d8c5;
    color: black;
}

#boton-custom:hover{
    background-color: #6a7718;
    color: white;
}

#card-img{
    height: 250px;
    width: 250px;
}

#card{
    width: 250px;
    height: 480px;
}

.carousel{
    width:80%; 
    height:450px; 
    margin-left: auto; 
    margin-right: auto;
    
}

.carousel-item{
    background-color: #FAFAFA;
}

.d-block{
    margin-left: auto; 
    margin-right: auto;
    height: 350px;
}



.d-block-right{
    float:right;
}

.icon-color{
    color: #6a7718;
}

#media-mini {
    border-radius: 50%;
    width: 100px;
    height: 100px; 
    float: right;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    
}

#large-media{
    width:85%;
    height: 200px;
}

.input-width{
    width:60%;
}

#boton-pagar{
    background-color: #6a7718;
    color: white;
    width: 110px;
}

.custom-width{
    width:95px;
}

.card:hover{
    border-color: #6a7718;
    border-style: dotted double;
}

.parrafo {
    max-width: 900px; 
    margin: 0 auto; 
    text-align: center;
}

#boton-carrito{
    background-color: #6a7718;
    width: 160px;
    color: white;
    display: block;
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: 7px;
    text-align: center;

}